@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
/* default */
html {
  max-width: 1200px;
  margin: auto;
  border-color: black;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

p {
  font-size: 14px;
}

button {
  font-size: 12px;
}

/* header */

header h1 {
  text-align: center;
}

header ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
header ul button {
  min-width: 100px;
  min-height: 28px;
  border: 1px solid black;
  background-color: white;
}
header ul li:not(:last-child) {
  margin-right: 50px;
}

/* document */
section {
  height: 200px;
  display: flex;
  border: 1px solid black;
  padding: 15px;
}
section:not(:last-child) {
  margin-bottom: 20px;
}
.video-section div:first-child,
.image-section div:first-child {
  width: 300px;
}
.video-section div:nth-child(2),
.image-section div:nth-child(2) {
  width: 100%;
  padding: 25px;
}
.note-section div,
.todo-section div {
  width: 100%;
}

.image-section div:first-child img {
  width: inherit;
  height: -webkit-fill-available;
}

/* footer */
footer {
  font-size: x-small;
  margin: 20px 0;
}
